# Model weights and datasets (too large for GitHub)
saved_model/
saved-models/
dataset/
uploads/
static/uploads/

# Virtual Environment
venv/
ENV/
env/

# Python Cache & IDE Settings
__pycache__/
*.pyc
.vscode/
.idea/

# Sample test output images
*.png
*.jpg
*.jpeg