# Model weights and datasets (too large for GitHub)
dataset/
uploads/
static/uploads/

# Virtual Environment
venv/
ENV/
env/

# Python Cache & IDE Settings
__pycache__/
*.pyc
.vscode/
.idea/

# Sample test output images
*.png
*.jpg
*.jpeg

# Heavy Model Weights
saved_model/

# Extra Datasets and Zips
archive.zip
Combined_Dataset/
Custom_Dataset/